.grid {
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(5, 100px);
	grid-template-rows: repeat(5, 100px);
}

.item {
	background-color: blue;
}

.item:nth-child(1) {
	grid-column: span 3;
	grid-row: span 2;
}

.item:nth-child(2),
.item:nth-child(3),
.item:nth-child(7) {
	grid-column: span 2;
}

.item:nth-child(4) {
	grid-column: span 5;
}

.item:nth-child(5) {
	grid-row: span 2;
}

.item:nth-child(10) {
	grid-column: span 3;
}

.item_1 {
	background-color: #FF68D5;
}

.item_2,
.item_3,
.item_5,
.item_7 {
	background-color: #23ECF9;
}

.item_4 {
	background-color: #F80000;
}

.item_6,
.item_8,
.item_9 {
	background-color: #330BD0;
}

.item_10 {
	background-color: #8DFF65;
}